# Dependencies
node_modules
.pnpm-store

# Build
dist
build

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Editor
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Arkli Specific
# (If we run tests locally that generate data we want to ignore)
temp_test
temp_link_test
test_db.sqlite

# Test Artifacts
arkli-verify
test-mail-proj
arkli-link-test
test-project
test-web-project
test-auto-project
test-auto-proj-2


